{% load staticfiles %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>outdoor marriage</title>
    <meta name="description" content="Blog o tematyce górskiej">
    <meta name="keywords" content="góry, wysokie góry, wspinaczka, bouldering, szlaki, mapy, korona gór polskich">
    <link type='text/css' rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="logo">
            <h1>outdoor marriage | małżeństwo poza drzwiami</h1>
        </div>
        <div id="menu">
            <hr/>
            <div class="button">
                Ostatnie wpisy
            </div>
            <div class="button">
                Wszytskie wpisy
            </div>
            <div class="button">
                Korona Gór Polski
            </div>
            <div class="button">
                O mnie
            </div>
            <div style="clear: both"></div>
            <hr/>
        </div>
        <div id="posts">
            {% block content %}
            {% endblock content %}
        </div>
        <div id="footer">
            Created by Aleksandra Bacik-Polus
        </div>
    </div>

</body>
</html>