{% load staticfiles %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>outdoor marriage</title>

    <meta name="description" content="Blog o tematyce górskiej">
    <meta name="keywords" content="góry, wysokie góry, wspinaczka, bouldering, szlaki, mapy, korona gór polskich">

    <link type='text/css' rel="stylesheet" href="{% static 'style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans|Raleway|Kaushan Script">

</head>
<body>
    <div id="container">
        <div id="logo">
            <h2 style="margin-top: 80px; margin-right: 300px">outdoor marriage blog  | </br> małżeństwo poza drzwiami  |</h1>
        </div>
        <div id="menu">
            <ol>
                <li><a href="{% url 'home' %}">Ostatnie wpisy</a></li>
                <li><a href="{% url 'all_posts' %}">Wszytskie wpisy</a></li>
                <li><a href="{% url 'polish_crown' %}">Korona Gór Polski</a></li>
            </ol>
        </div>
        <div class="content">
            <div id="posts">
                {% block content %}
                {% endblock content %}
            </div>
            <div id="right">
                Witam na blogu górskim
                <div class="part">

                    <img src="{% static 'photos/photo.png' %}" style="margin: 6px"></br>
                    Mam na imię Ola. To jest mój blog zrobiony w Django. Pozdrawiam wszytskich. Kocham czekoladę.
                </div>
                Skontaktuj się ze mną
                <div class="part">
                    <p style="text-align: center">
                        <i class="icon-mail"></i></br>
                        poza.drzwiami@gmail.com
                    </p>
                </div>
                Polecam
                <div class="part">
                    <p style="text-align: center">
                        <i class="icon-globe"></i></br>
                        Fundacja im. Anny Pasek</br>
                        niezalezna grupa testingowa</br>
                        ourtrav</br>
                    </p>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div id="footer">
            2016 &copy; Aleksandra Bacik-Polus |<i class="icon-mail-alt"></i> aleksandrabacik@gmail.com
        </div>
    </div>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sticky.js' %}"></script>
</body>
</html>