
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-newspaper:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */