body
{
    background-color: #ffffff;
    color: #333333;
    margin: 0;
}

#container
{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#logo
{
    background-image: url('photos/logopicture.jpg');
    background-position: left center;
    font-family: 'Amatic SC';
    text-align: right;
    height: 350px;
    width:  100%;
    padding: 10px;
}

#menu
{
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.content
{
    width: 1000px;
	margin-left: auto;
	margin-right: auto;
    padding: 5px;
    text-align: justify;
}

#posts
{
    width: 730px;
    float: left;
}

#right
{
    width: 190px;
    margin-left: 50px;
    border-left: 1px solid #b30000;
    font-family: 'Kaushan Script', coursive;
    text-align: center;
    padding: 10px;
    float: left;
}

.part
{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-align: justify;
    margin-bottom: 20px;
}

#header
{
    font-family: 'Open-Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    margin-bottom: 20px;
    border-top: 1px solid #b30000;
}

#header a
{
    text-decoration: none;
    color: #333333;
}

#text
{
    margin-bottom: 20px;
}

#pub_date
{
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#footer
{
    height: 20px;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    border-top: 1px solid #b30000;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

ol
{
    padding: 0;
	margin: 0;
	font-size: 18px;
	list-style-type: none;
	line-height: 250%;
    display: inline-block;
}

ol a
{
	color: #333333;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 200px;
	height: 50px;
}

ol > li:hover
{
	background-color: #e6e6e6;
}

ol > li:hover > a
{
	color: #b30000;
}

